.player-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}
.player {
    width:20%;
    border:1px solid grey;
    box-shadow: 3px 5px 7px #000;
    margin-bottom:15px;
    background-color: #fff;
}
.player:first-child {
    width:80%;
    border:2px solid black;
    padding:15px;
    flex-grow: 80%;
}
.Delhi {
    background-color: #2561AE;
}
.Mumbai {
    background-color: #004BA0;
}
.Punjab {
    background-color: #ED1B24;
}
.Sunrisers {
    background-color: #FF822A;
}
.Royal {
    background-color:#EC1C24;
}
.Chennai {
    background-color: #FFFF3C;
}
.Kolkata {
    background-color: #2E0854;
}
.Rajasthan {
    background-color: #EA1985;
}