.player-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}
.player {
    width:20%;
    border:1px solid grey;
    box-shadow: 3px 5px 7px #000;
    margin-bottom:15px;
    background-color: #fff;
}
.player:first-child {
    width:80%;
    border:2px solid black;
    padding:15px;
    background-size: auto;
}
.player-team{
    color:grey;
}
.Delhi {
    background: #2561AE;
}
.Mumbai {
    background: #004BA0;
}
.Punjab {
    background: #ED1B24;
}
.Sunrisers {
    background: #FF822A;
}
.Royal {
    background:#EC1C24;
}
.Chennai {
    background: #f9cf01;
}
.Kolkata {
    background: #2E0854;
}
.Rajasthan {
    background: #EA1985;
}
.Lucknow{
    background: blue;
}
.Gujarat{
    background: darkblue;
}